.bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 200px;
  height: 300px;
  border: 4px solid brown;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tan;
}
