.bookshelf {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 20px;
}

.book {
  width: 200px;
  height: 300px;
  border: 4px solid brown;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tan;
}

.read {
  color: green;
}

.not-read {
  color: red;
}

.read:hover,
.not-read:hover {
  cursor: pointer;
  opacity: 0.7;
}
